<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head lang="en"---->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

  
    <title>Knjige</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">ELEKTROTEHNIKA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index">Početna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Obavijesti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projekti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/professors">Nastavno osoblje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/books">Knjige</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Upiši se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item">
                <a class="nav-link" href="/users">Korisnici</a>
              </li>
              
            </ul>
          </div>
        </div>
        <!--Logout button and email address dropdown-->
        <ul class="navbar-nav">
          <div id="navbar" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span style="font-size: small;" sec:authentication="principal.username"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" sec:authorize="isAuthenticated()">
                <a  th:href="@{/users/edit}" th:object="${user}" class="dropdown-item">Moj profil</a>
                <a th:href="@{/logout}" class="dropdown-item">Odjava</a>
              </div>
          </div>
      </ul>
  </nav>

 <!-- Objave Section -->
 <div class="section container mt-5">
    <h1 class="justify-content-center">KNJIGE</h1>
    <div class="d-flex justify-content-end mb-2">
        <a th:href="@{books/new}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-dark">Dodaj</a>
        
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Knjiga</th>
                    <th>Naziv knjige</th>
                    <th>Profesor/Autor</th>
                    <th>Godina izdavanja</th>
                    <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Ukloni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${book}">
                    <td><img th:src="${book.pictureUrl}" alt="" width="150" height="200"></td>
                    <td th:text="${book.name}"></td>
                    <td>
                        <ul class="list-unstyled">
                            <li th:each="professor : ${book.professors}" th:text="${professor.firstName + ' ' + professor.lastName}"></li>
                            <li th:text="${book.profName}"></li>
                        </ul>
                    </td>
                    <td th:text="${book.year}"></td>
                    <td>
                        <a th:href="@{/books/delete/{id}(id=${book.id})}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-sm btn-close"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  <!-- Footer Section -->
  <div class="footer bg-body-tertiary text-left py-1">
    <div class="container">
        <div class="row m-2">
            <!-- First Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>O nama</h5>
              <p>Univerzitet U Bihaću</p>
                <p>Ulica: Dr. Irfana Ljubijankića, Bihać 77000</p>
                <p>Kontakt: +38737226271</p>
            </div>
            
          <!-- Second Column -->
          <div class="col-md-3 col-sm-3 col-lg-3">
            <h5>Stranice</h5>
            <a href="https://www.web.tfb.unbi.ba"><p>Stranica Tehničkog fakulteta</p></a>
             <a href="https://www.info.tfb.ba"><p>Infoservis</p></a>
             <a href="https://www.unbi.ba"><p>Stranica Univerziteta u Bihaću</p></a>
          </div>
          <!-- Third Column -->
          <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Društvene mreže</h5>
              <a href="https://www.facebook.com/unbi.tfb/"><p>Facebook</p></a>
              <a href="https://www.instagram.com/tehnickifakultet_bihac/"><p>Instagram</p></a>
              <a href="https://www.youtube.com/channel/UCtadimJ0kX_lrJrzTTZsSLg"><p>YouTube</p></a>
          </div> 
            <!-- Forth Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Dizajn i izrada</h5>
                <p>Napredne tehnike internet programiranja.</p>
                <p>Nurfet Mehulić i Amar Handukić</p>
                <p>Sva prava pridržana! 2023. godina</p>
            </div>


        </div>
    </div>
  </div>
<script>
  // Initialize the carousel when the document is ready
  $(document).ready(function() {
      $('#carouselExample').carousel();
  });

  // Pause the carousel when a slide is clicked
  $('#carouselExample').on('slide.bs.carousel', function () {
      $(this).carousel('pause');
  });

 
</script>
<script>
 $(document).ready(function () {
    // Initialize modals
    $('.modal').modal();
});
</script>


</body>
</html>