<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymelef-extras-springsecurity3">
<head lang="en" ---->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  
    <title>FAQ</title>
    <style>
       
</style>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">ELEKTROTEHNIKA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index">Početna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Obavijesti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projekti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/professors">Nastavno osoblje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/books">Knjige</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Upiši se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item">
                <a class="nav-link" href="/users">Korisnici</a>
              </li>
              
            </ul>
          </div>
        </div>
        <!--Logout button and email address dropdown-->
        <ul class="navbar-nav">
          <div id="navbar" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span style="font-size: small;" sec:authentication="principal.username"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" sec:authorize="isAuthenticated()">
                <a  th:href="@{/users/edit}" th:object="${user}" class="dropdown-item">Moj profil</a>
                <a th:href="@{/logout}" class="dropdown-item">Odjava</a>
                  
              </div>
          </div>
      </ul>
  </nav>
    
  <div>
    <section class="main-content">
      <div class="container">
        <br>
        <h1 class="text-center text-uppercase mb-30">Često postavljena pitanja</h1>
        <br>
        <br>
        <div class="row flex-center">
          <div class="col-sm-10 offset-sm-1">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Kada počinje nastava?</span> </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> Nastava počinje brucoškim satom prvog ponedjeljka u mjesecu oktobru.

                    U akademskoj 2023/2024 godini brucoški sat je u ponedjeljak, 2.10.2023. godine, u 11 sati. 
                  
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Koje je radno vrijeme studentske službe?</span> </button>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> Radno vrijeme studentske službe je od 08 do 15 sati svakim radnim danom, a rad sa studentima je od 11 do 13 sati svakim radnim danom osim srijede i petka. </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Kako nostrificirati diplomu istog ili sličnog fakulteta?</span> </button>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong><p>Fakultet vrši nostrifikacije VSS ili VŠS diploma. Potrebno je priložiti sljedeće dokumente:</p>
                    <ul>
                    <li>Molba kandidata</li>
                    <li>Diploma i sudski prevod diplome</li>
                    <li>Diploma supplement</li>
                    <li>Prepis ocjena i sudski prevod</li>
                    <li>Nastavni plan i program na engleskom jeziku (ne mora biti preveden)</li>
                    <li>Kratki historijat univerziteta i fakulteta gdje je stečena diploma</li>
                    <li>Potvrda o prebivalištu u Unsko-Sanskom kantonu</li>
                    </ul>
                    <p>Ukoliko je u pitanju nostrifikacija diplome SSS onda se sa zahtjevom za nostrifikaciju obraćate Kantonalnom ministarstvu obrazovanja.</p></div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Organizuje li se prijemni ispit?</span> </button>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> Tehnički fakultet ne organizuje prijemni ispit za upis u akademsku 2023/2024. godinu. </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Po kojem nastavnom planu i programu studiram?</span> </button>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> Studenti koji uspješno prelaze iz godine u godinu studija slušaju nastavu i polažu ispite po planu i programu koji je bio važeći u trenutku upisa na Fakultet. </div>
                </div>
              </div>

               <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Koji je žiro račun fakulteta?</span> </button>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> <p>Žiro račun Fakulteta je:<br /><strong>1610000000290419</strong> - Raiffeisen Bank</p> </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                  <span>Koja je procedura priznavanja ispita sa nekog drugog fakulteta?</span> </button>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                  <div class="accordion-body"> <strong></strong> Prilikom upisa na Elektrotehnički odsjek uz molbu za priznavanje ispita potrebno je priložiti original prepis ocjena sa drugog fakulteta, te nastavni plan i program po kojem su se slušali ti predmeti. </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
<div>
  <p><p>
</div>
<br>


 
  <!-- Footer Section -->
  <div class="footer bg-body-tertiary text-left py-1">
    <div class="container">
        <div class="row m-2">
            <!-- First Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>O nama</h5>
              <p>Univerzitet u Bihaću</p>
                <p>Ulica: Dr. Irfana Ljubijankića, Bihać 77000</p>
                <p>Kontakt: +38737226271</p>
            </div>
            
            <!-- Second Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Stranice</h5>
              <a href="https://www.web.tfb.unbi.ba"><p>Stranica Tehničkog fakulteta</p></a>
               <a href="https://www.info.tfb.ba"><p>Infoservis</p></a>
               <a href="https://www.unbi.ba"><p>Stranica Univerziteta u Bihaću</p></a>
            </div>
            <!-- Third Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
                <h5>Društvene mreže</h5>
                <a href="https://www.facebook.com/unbi.tfb/"><p>Facebook</p></a>
                <a href="https://www.instagram.com/tehnickifakultet_bihac/"><p>Instagram</p></a>
                <a href="https://www.youtube.com/channel/UCtadimJ0kX_lrJrzTTZsSLg"><p>YouTube</p></a>
            </div>    
            <!-- Forth Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Dizajn i izrada</h5>
                <p>Napredne tehnike internet programiranja.</p>
                <p>Nurfet Mehulić i Amar Handukić</p>
                <p>Sva prava pridržana! 2023. godina</p>
            </div>
  
  
        </div>
    </div>
  </div>

    

</body>
</html>