<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymelef-extras-springsecurity3">
<head lang="en" ---->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  
    <title>Upiši se</title>
    <style>
       
</style>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">ELEKTROTEHNIKA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index">Početna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Obavijesti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projekti</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/professors">Nastavno osoblje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/books">Knjige</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Upiši se</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item">
                <a class="nav-link" href="/users">Korisnici</a>
              </li>
              
            </ul>
          </div>
        </div>
        <!--Logout button and email address dropdown-->
        <ul class="navbar-nav">
          <div id="navbar" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span style="font-size: small;" sec:authentication="principal.username"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" sec:authorize="isAuthenticated()">
                <a  th:href="@{/users/edit}" th:object="${user}" class="dropdown-item">Moj profil</a>
                <a th:href="@{/logout}" class="dropdown-item">Odjava</a>
              </div>
          </div>
      </ul>
  </nav>
        <!-- Image Slider Section -->
        <section id="slider">
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img th:src="@{/images/tfb-naslovna.jpg}" width="50%" class="d-block w-100" alt="Image 1">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Upiši se</h1>
                    <p>i osiguraj svoju budućnost</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://tfb.ba/repozitorij/3/slike/Promocija_TFB_29102021/20.jpg" class="d-block w-100" alt="Image 2">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Upiši se</h1>
                    <p>Jer smo najbolji izbor za Vas.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://media.licdn.com/dms/image/C4D22AQH-4Lr_XVcGdA/feedshare-shrink_800/0/1650487769725?e=2147483647&v=beta&t=GJY1WBly-13AOKiBKlnFFxm8sLd5zKqTKhvxn1qTsOw" class="d-block w-100" alt="Image 3">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      
        <!-- Accordion Section -->
      
    
        <div>
          <section class="main-content">
            <div class="container">
              <br>
              <h1 class="text-center text-uppercase mb-30">Izlazna zvanja i silabus predmeta</h1>
              <br>
              <br>
              <div class="row flex-center">
                <div class="col-sm-10 offset-sm-1">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Izlazna zvanja</span> </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong> 
                                                
                           
    
    
    <table>
    <thead>
    <tr>
    <th style="text-align: center; vertical-align: bottom;" rowspan="2"><strong>I ciklus studija</strong> <br /><strong> </strong></th>
    <th><strong>II ciklus studija</strong> </th>
    <th><strong>III ciklus studija</strong> </th>
    </tr>
    <tr>
    <th colspan="2"><strong>Voditelj: Dr. sc. Aladin Crnkić, docent<br /></strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Bakalaureat/Bachelor inžinjer elektrotehnike, smjer računarstvo i informatika </td>
    <td>Magistar inženjer elektrotehnike, smjer računarstvo i informatika</td>
    <td>Doktor tehničkih nauka (iz odgovarajuće naučne oblasti elektrotehnike)</td>
    </tr>
    <tr>
    <td>Bakalaureat/Bachelor inžinjer elektrotehnike, smjer automatika i elektronika </td>
    <td>Magistar inženjer elektrotehnike, smjer automatika i elektronika</td>
    <td> </td>
    </tr>
    </tbody>
    </table>
    
                            
                        
                          
                        
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Prva godina(zimski)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong> 
                          <table class="center">
                              
                                
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Matematika I</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Fizika I</td>
                              <td>Dr. Esad Jakupović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Uvod u programiranje</td>
                              <td>Doc.dr. Jasna Hamzabegović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektrotehnika I</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Inžinjerska grafika i dokumentacija</td>
                              <td>Dr. Said Pašalić</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table> </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Prva godina(ljetni semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Matematika II</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Fizika II</td>
                              <td>Dr. Esad Jakupović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Algoritmi i strukture podataka</td>
                              <td>Doc.dr. Jasna Hamzabegović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektrotehnika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Strani jezik I</td>
                              <td>Dr. Hadtidže Burnić</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                          
                      </div>
                    </div>
      
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Druga godina(zimski semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong> 
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Matematika III</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Elektronika I</td>
                              <td>Dr. Edin Mujčić</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Objektno orijentirano programiranje</td>
                              <td>Doc.dr. Jasna Hamzabegović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Operativni sistemi</td>
                              <td>Dr. Admir Midžić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Strani jezik II</td>
                              <td>Dr. Hadtidže Burnić</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Osnovne programskog jezika Java</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
      
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Druga godina(ljetni semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Uvod u Matlab</td>
                              <td>Doc.dr. Edin Mujčić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Obrada digitalnih signala</td>
                              <td>Dr. Budimir Mijović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Arhitektura računara</td>
                              <td>Dr. Zlatko Bundalo</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektronika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Baze podataka</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Teorija vjerovatnoće i statistika</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
      
                     <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Treća godina(zimski semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Uvod u Matlab</td>
                              <td>Doc.dr. Edin Mujčić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Obrada digitalnih signala</td>
                              <td>Dr. Budimir Mijović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Arhitektura računara</td>
                              <td>Dr. Zlatko Bundalo</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektronika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Baze podataka</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Teorija vjerovatnoće i statistika</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
      
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Treća godina(ljetni semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Uvod u Matlab</td>
                              <td>Doc.dr. Edin Mujčić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Obrada digitalnih signala</td>
                              <td>Dr. Budimir Mijović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Arhitektura računara</td>
                              <td>Dr. Zlatko Bundalo</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektronika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Baze podataka</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Teorija vjerovatnoće i statistika</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
      
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Četvrta godina(zimski semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Uvod u Matlab</td>
                              <td>Doc.dr. Edin Mujčić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Obrada digitalnih signala</td>
                              <td>Dr. Budimir Mijović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Arhitektura računara</td>
                              <td>Dr. Zlatko Bundalo</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektronika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Baze podataka</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Teorija vjerovatnoće i statistika</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          <div class="circle-icon"> <i class="fa fa-question"></i> </div>
                        <span>Četvrta godina(ljetni semestar)</span> </button>
                          </button>
                      </h2>
                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> <strong></strong>
                          <table class="center">
                            <tr>
                                <th>NAZIV PREDMETA</th>
                                <th>PREDMETNI NASTAVNIK</th>
                                <th>PREDAVANJE</th>
                                <th>VJEŽBE</th>
                                <th>ECTS</th>
                            </tr>
                            <tr>
                              <td>Uvod u Matlab</td>
                              <td>Doc.dr. Edin Mujčić</td>
                              <td>45</td>
                              <td>45</td>
                              <td>6</td>
                            </tr>
                            <tr>
                              <td>Obrada digitalnih signala</td>
                              <td>Dr. Budimir Mijović</td>
                              <td>30</td>
                              <td>45</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Arhitektura računara</td>
                              <td>Dr. Zlatko Bundalo</td>
                              <td>30</td>
                              <td>30</td>
                              <td>5</td>
                             </tr>
                             <tr>
                              <td>Elektronika II</td>
                              <td>Dr. Branko Blanuša</td>
                              <td>45</td>
                              <td>45</td>
                              <td>7</td>
                             </tr>
                             <tr>
                              <td>Baze podataka</td>
                              <td>Dr. Jasna Hamzabegović</td>
                              <td>15</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                             <tr>
                              <td>Teorija vjerovatnoće i statistika</td>
                              <td>Doc.dr. Fatka Kulenović</td>
                              <td>30</td>
                              <td>30</td>
                              <td>4</td>
                             </tr>
                         </table>
                        </div>
                      </div>
                    </div>
      
      
                  </div>
                </div>
              </div>
            </div>
          </section>
          </div>
      <div>
        <p><p>
      </div>



 
  <!-- Footer Section -->
  <div class="footer bg-body-tertiary text-left py-1" >
    <div class="container">
        <div class="row m-2">
            <!-- First Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>O nama</h5>
              <p>Univerzitet u Bihaću</p>
                <p>Ulica: Dr. Irfana Ljubijankića, Bihać 77000</p>
                <p>Kontakt: +38737226271</p>
            </div>
            
            <!-- Second Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Stranice</h5>
              <a href="https://www.web.tfb.unbi.ba"><p>Stranica Tehničkog fakulteta</p></a>
               <a href="https://www.info.tfb.ba"><p>Infoservis</p></a>
               <a href="https://www.unbi.ba"><p>Stranica Univerziteta u Bihaću</p></a>
            </div>
            <!-- Third Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
                <h5>Društvene mreže</h5>
                <a href="https://www.facebook.com/unbi.tfb/"><p>Facebook</p></a>
                <a href="https://www.instagram.com/tehnickifakultet_bihac/"><p>Instagram</p></a>
                <a href="https://www.youtube.com/channel/UCtadimJ0kX_lrJrzTTZsSLg"><p>YouTube</p></a>
            </div>    
            <!-- Forth Column -->
            <div class="col-md-3 col-sm-3 col-lg-3">
              <h5>Dizajn i izrada</h5>
                <p>Napredne tehnike internet programiranja.</p>
                <p>Nurfet Mehulić i Amar Handukić</p>
                <p>Sva prava pridržana! 2023. godina</p>
            </div>
  
  
        </div>
    </div>
  </div>

    

</body>
</html>